<!-- Footer Start -->
<div class="container-fluid footer position-relative bg-dark text-white-50 py-5">
  <div class="container">
    <div class="row g-5 py-5">
      <div class="col-lg-5 pe-lg-5">
        <a href="index.html" class="navbar-brand">
          <h1 class="h1 text-primary mb-0">Zufiros<span class="text-white"> Pharmaceuticals</span></h1>
        </a>
        <p class="fs-5 mb-4">Committed to delivering quality medicines and healthcare solutions with integrity and
          innovation.</p>
        <p><i class="fa fa-map-marker-alt me-2"></i>Zufiros pharmaceutical, Mangalore</p>
        <p><i class="fa fa-phone-alt me-2"></i>+91-9483664224</p>


      </div>
      <div class="col-lg-7 ps-lg-5">
        <div class="row g-5 justify-content-end">
          <div class="col-sm-6 col-md-4">
            <h4 class="text-light mb-4">Quick Links</h4>
            <div class="d-flex flex-column gap-2">
              <a class="text-white-50 text-decoration-none mb-2" href="index.html"><i
                  class="fa fa-angle-right me-2"></i>Home</a>
              <a class="text-white-50 text-decoration-none mb-2" href="about.html"><i
                  class="fa fa-angle-right me-2"></i>About Us</a>
              <a class="text-white-50 text-decoration-none mb-2" href="contact.html"><i
                  class="fa fa-angle-right me-2"></i>Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark text-white-50 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; <a href="#">Zufiros Pharmaceuticals</a>. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <p class="mb-0">Quality Medicines for Better Health</p>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->